/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/examples/rails/log/*.log
/examples/rails/tmp/
/gemfiles/*.gemfile.lock
/pkg/
/spec/reports/
/tmp/
/log/*.log

# Ignore lock files (e.g. Gemfile.lock)
*.lock

# rspec failure tracking
.rspec_status
